html,body,ul,li,dt,p,h1,h2,h3,form,img{
	margin:0;padding:0
}
img{
	border: none;
}
ul,ol{
	list-style: none;
}
input{
	padding-top: 0;
	padding-bottom: 0;
	border: none;
}
a{
	text-decoration: none;
}
body{
	font-size: 12px;
	font-family: 'Microsoft Yahei';
	color: #4c4c4c;
	background-color: #fae8c8;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
.clearfix:after{
	content: "";
	height: 0;
	line-height: 0;
	display: block;
	visibility: hidden;
	clear: both;
}
.clearfix{
	zoom:1;
}