html,body,ul,li,dt,p,h1,h2,h3,form,img{
	margin:0;padding:0
}
img{
	border: none;
}
ul,ol{
	list-style: none;
}
input{
	padding-top: 0;
	padding-bottom: 0;
	border: none;
}
a{
	text-decoration: none;
}
body{
	font-size: 12px;
	font-family: 'Microsoft Yahei';
	color: #4c4c4c;
	background-color: #fae8c8;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
.clearfix:after{
	content: "";
	height: 0;
	line-height: 0;
	display: block;
	visibility: hidden;
	clear: both;
}
.clearfix{
	zoom:1;
}
.center{
	width: 1000px;
	margin: 0 auto;
}
.qiangd{
	font-size: 18px;
	color: #ff3232;
}
/*头栏---------------------------*/
.top{
	height: 47px;
	background-color: #e9e8e8;
}
.top .top-c{
	height: 47px;
	line-height: 47px;
}
/*小图标------------------------------*/
.qq-icon{
	background: url(../images/icon.png) 1px -153px no-repeat;
}
.weibo-icon{
	background: url(../images/icon.png) -1px -121px no-repeat;
}
.email-icon{
	background: url(../images/icon.png) -1px -180px no-repeat;
}

/*banner栏-----------------------------*/
.logo{
	height: 99px;
	background-color: #c70202;
}
.logo .lo-c{
	height: 99px;
}
.logo .lo-c h1 a{
	display:inline-block;
	width: 221px;
	height: 97px;
	background: url(../images/logo.png);
	text-indent: -12em;
	overflow: hidden;
}
.logo .lo-center{
	/*width: 296px;*/
	height: 28px;
	background-color: #fff;
	padding: 1px;
	margin: 34px 0 0 70px;
	border-radius: 5px;
	overflow: hidden;

}
.logo .lo-center .txt{
	width: 236px;
	height: 28px;
	outline: none;
}
.logo .lo-center .btn{
	width: 60px;
	height: 28px;
	background-color: #c70202;
	color: #fff;
	border-radius: 0 5px 5px 0;
}
.logo .lo-right {
	margin-top: 35px;
}
.logo .lo-right li{
	display: inline-block;
	height: 30px;
	line-height: 30px;
	margin-left: 20px;
	padding-left: 26px;
}
.logo .lo-right a{
	color: #fff;
	text-indent: 40px;
}
.logo .lo-right input{
	width: 56px;
	height: 30px;
	font-size: 14px;
}
.foot{
	height: 273px;
	padding: 10px;
	background-color: #2f2f2f;
}
.foot .f-border{
	height: 273px;
	border: 1px solid #ffd283;
}
.foot .f-left{
	margin-top: 55px;
	color: #ccc;
}
.foot .f-left li{
	height: 33px;
	line-height: 33px;
}
.foot .f-right{
	margin-top: 34px;
}
.foot .f-right li img{
	width: 100%;
	height: 100%;
	margin-bottom: 10px;
}
.foot .f-right li{
	width: 105px;
	height: 100px;
	background-color: blue;
	float: left;
	margin-left: 20px;
}
.foot .f-right li a{
	display: inline-block;
	color: #666666;
	text-align: center;
}